.body-container{
    margin-top: 50px;
    margin-left: 50px;
}

.box1{
    display: flex;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    
.container-1{
    margin-top: -41px;
    color: rgb(104, 104, 104);
}

.content1{
    margin-top: -14px;
    font-size: 12px;
}

.text-1{
    color: black;
}

.content2{
    display: inline;
}

.info-1{
    font-size: 20px;
}
.info-2{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(70, 70, 70);
}

.info-3{
    font-family: math;
}

.text-2{
    color: rgb(104, 104, 104);
}

.container-2{
    padding-left: 150px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hr1{
    border: 2px solid black;
    margin-top: -22px;
}

.hr-width{
    margin-left: 0px;
    width: 900px;
}

.material-symbols-outlined{
    font-size: 14px !important;
}

.text-3{
    font-size: 11px;
}

.text-4{
    margin-left: 20px;
    font-size: 11px;
}

.text-5{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    margin-left: -24px;
}

.hr2{
    margin-top: -5px;
    border: 1px gray dashed;
}

.box-4-container{
    display: flex;
}

.box-4-container-2{
    display: flex;
}

.content{
    height: 90px;
    width: 500px;
}

.icon-size{
    font-size: 20px;
}

.box-4-content-2{
    width: 400px;
}

.text-6{
    font-size: 14px;
    margin-left: 38px;
}

.text-7{
    margin-left: 37px;
}

.icon-size2{
    font-size: 28px !important;
}

.hr-size{
    margin-left: -5px;
    width: 404px;
}

.text-9{
    font-size: 14px;
    margin-left: 27px;
}

.text-10{
    margin-left: 38px;
}

.box-4-content-5{
    margin-top: -30px;
    margin-left: 35px;
}

.text-11{
    font-size: 14px;
}

/* .box-5{
    display: inline;
} */

.box-5-content{
    text-align: center;
    font-weight: bold;
    /* border-bottom: 1px solid black; */
}


.box5-p{
    padding-left: 30px;
}

/* .b-5{
} */

.box6-content{
    display: flex;
}

.box6-1{
    width: 250px;
}

.box6-2{
    padding-left: 28px;
    width: 300px;
}

.box6-3{
    padding-left: 28px;
}
.box6-text{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box6-text2{
    margin-top: 5px;
    font-size: 14px;
    float: right;
}
.line{
    margin-top: 5px;
    width: 250px;
    border-radius: 20px;
    height: 6px;
    background-color: darkcyan;
}

.line2{
    margin-top: 5px;
    width: 300px;
    border-radius: 20px;
    height: 6px;
    background-color: rgb(157, 157, 157);
}

.line3{
    margin-top: -5.5px;
    width: 250px;
    border-radius: 20px;
    height: 6px;
    background-color: darkcyan;
}

.line4{
    margin-top: -5.5px;
    width: 180px;
    border-radius: 20px;
    height: 6px;
    background-color: darkcyan;
}