.body-container{
    margin-left: 50px;
}

.box1{
    display: flex;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    
.container-1{
    margin-top: -41px;
    color: rgb(104, 104, 104);
}

.content1{
    margin-top: -14px;
    font-size: 12px;
}

.text-1{
    color: black;
}

.content2{
    display: inline;
}

.info-1{
    font-size: 20px;
}
.info-2{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(70, 70, 70);
}

.text-2{
    color: rgb(104, 104, 104);
}

.container-2{
    padding-left: 150px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hr1{
    border: 2px solid black;
    margin-top: -22px;
}

.material-symbols-outlined{
    font-size: 14px !important;
}

.text-3{
    font-size: 11px;
}

.text-4{
    margin-left: 20px;
    font-size: 11px;
}

.text-5{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    margin-left: -24px;
}

.hr2{
    margin-top: -5px;
    border: 1px gray dashed;
}